# Agenda

> Data: 08/02/2021<br>
> Aula: 06 <br>
> Módulo: 00 <br>

## Pandas (Parte I)

referência: https://medium.com/data-hackers/uma-introdu%C3%A7%C3%A3o-simples-ao-pandas-1e15eea37fa1

In [3]:
import pandas as pd
import numpy as np

## Series

Uma Series é como um array unidimensional, uma lista de valores. Toda Series possui um índice, o index, que dá rótulos a cada elemento da lista.

Você pode considerar um Series também como uma coluna de uma tabela

<img src=https://media.geeksforgeeks.org/wp-content/uploads/dataSER-1.png width=700 height=500>

<img src= https://miro.medium.com/max/208/1*aAVPOIPxfY4j-cMxwJ6c8A.png width=400 height=300>

### Sintaxe:

pandas.Series(data=None, index=None, dtype=None) #index e dtype preenchimento opcional

Abaixo criamos uma Series notas, o index desta Series é a coluna à esquerda, que vai de 0 a 4 neste caso, que o pandas criou automaticamente, já que não especificamos uma lista de rótulos.

In [4]:
notas = pd.Series([2,7,5,10,6])
notas

0     2
1     7
2     5
3    10
4     6
dtype: int64

### Verificando alguns atributos de Series

atributo values

In [5]:
notas.values

array([ 2,  7,  5, 10,  6], dtype=int64)

atributo index

In [6]:
notas.index

RangeIndex(start=0, stop=5, step=1)

Como a serie é um array  unidimensional, temos:

In [7]:
notas.ndim

1

<p style="font-size:20px">Como ao criar a Series não demos um índice específico o pandas usou os inteiros positivos crescentes como padrão. Pode ser conveniente atribuirmos um índice diferente do padrão, supondo que essas sejam notas da nossa turma, poderíamos atribuir nomes ao index:</p>

In [8]:
notas = pd.Series([7, 5, 8, 10], index=["Andreia", "Danielle", "Tony", "Cesar"])
notas

Andreia      7
Danielle     5
Tony         8
Cesar       10
dtype: int64

O index nos ajuda para referenciar um determinado valor, ele nos permite acessar os valores pelo seu rótulo:

In [9]:
notas["Andreia"]

7

Outra facilidade proporcionada pela estrutura são seus métodos que fornecem informações estatísticas sobre os valores, como média .mean()

In [10]:
print("Média: ")
print(notas.mean())

Média:
7.5

In [11]:
print("valor máximo: ")
print(notas.max())

valor máximo:
10

In [12]:
print("valor mínimo buscando o (index)  - nome: ")

notas.idxmin()

valor mínimo buscando o (index)  - nome:

'Danielle'

## O que é um DataFrame ?

É simplesmente um conjunto de Series. Trata-se de uma estrutura de dados de 2 dimensões — colunas e linhas — que transforma os dados em uma  tabela

Um DataFrame é uma estrutura bidimensional de dados, como uma planilha. A

* Cada coluna do nosso dataFrame é uma série!

<img src=https://media.geeksforgeeks.org/wp-content/uploads/finallpandas.png width=700 height=500>

## Inicialização de um Data Frame - df

Para inicializar um data fame utilizamos a sintaxe abaixo:

pandas.DataFrame(```data```, ```index```, ```columns```, ```dtype```)

* ```data```: numpy array, listas, series
* ```index```:  É opcional
* ```columns```: Também é opcional 
* ```dtype```: tipo de dado das colunas -  também é opcional

#### Vamos consultar  documentação - atributos e métodos!

In [13]:
# Inicializando um dataframe vazio
df_vazio = pd.DataFrame()

In [14]:
df_vazio

Empty DataFrame
Columns: []
Index: []

Podemos iniciar um data frame a partir de diversas outras estrutura, tais como:
* Listas
* Dicionários
* Arrays
* Series

### * Data Frame a partir de uma lista

In [15]:
lista = [1,2,3]
columns = ['turmas_DS']

#ou
df_lista = pd.DataFrame(data=lista, columns=['turmas_DS'])

In [16]:
df_lista

   turmas_DS
0          1
1          2
2          3

### * Data Frame a partir de um dicionário

In [17]:

dicionario = {'nota_a': [1, 2], 'nota_b': [3, 4]}

teste = pd.DataFrame(dicionario)
teste

   nota_a  nota_b
0       1       3
1       2       4

In [18]:
dicionario

{'nota_a': [1, 2], 'nota_b': [3, 4]}

Nesse caso  as chaves do dicionário definem as colunas do dataframe

### * DataFrame a partir de Series

In [19]:
series = pd.Series([1,2,3,4])
print(series)

0    1
1    2
2    3
3    4
dtype: int64

In [20]:
df_series = pd.DataFrame(series)
df_series

   0
0  1
1  2
2  3
3  4

### Exercício

Crie um dataframe a partir do array abaixo

In [21]:
arr = np.arange(10)
print(arr)

[0 1 2 3 4 5 6 7 8 9]

In [51]:
df = pd.DataFrame(arr)
df

   0
0  0
1  1
2  2
3  3
4  4
5  5
6  6
7  7
8  8
9  9

### Abaixo criaremos um DataFrame que possui valores de diferentes tipos

In [59]:
df = pd.DataFrame([[3,2,8.5],[4,7,7.5],[2,5,9.5],[1,10,7.5],[4,6,8.0]],
     index=['Andreia', 'Daniele', 'Michel','Tony','Cezar'],
     columns=['Faltas','Prova','PI'])

In [60]:
df

         Faltas  Prova   PI
Andreia       3      2  8.5
Daniele       4      7  7.5
Michel        2      5  9.5
Tony          1     10  7.5
Cezar         4      6  8.0

### Verificando o tipo de dado das colunas do nosso df

In [25]:
df.PI.dtypes

dtype('float64')

### Verificando as colunas que nosso df possui

In [26]:
df.columns.values

array(['Faltas', 'Prova', 'PI'], dtype=object)

### Acessando os valores das colunas

In [27]:
df.Faltas

Andreia    3
Daniele    4
Michel     2
Tony       1
Cezar      4
Name: Faltas, dtype: int64

obs.: colchete ou:

In [28]:
df['Faltas']

Andreia    3
Daniele    4
Michel     2
Tony       1
Cezar      4
Name: Faltas, dtype: int64

### Verificando  resumidamente a disposição estatística dos dados numéricos:

In [52]:
df.describe()

              0
count  10.00000
mean    4.50000
std     3.02765
min     0.00000
25%     2.25000
50%     4.50000
75%     6.75000
max     9.00000

## Verificando quantidade de linhas e colunas do DataFrame

In [29]:
len(df.columns)

3

## Contagem de dados não-nulos

In [30]:
df.isna().sum().sum()

0

### Visualizar Primeiras linhas do df

In [53]:
df.head()

   0
0  0
1  1
2  2
3  3
4  4

### Similarmente existe o .tail(), que exibe por padrão as últimas 5 linhas do DataFrame:

In [54]:
df.tail()

   0
5  5
6  6
7  7
8  8
9  9

### Renomeando colunas

In [61]:
df = df.rename({'PI': 'Projeto Itegrador'}, axis = 1)
df

         Faltas  Prova  Projeto Itegrador
Andreia       3      2                8.5
Daniele       4      7                7.5
Michel        2      5                9.5
Tony          1     10                7.5
Cezar         4      6                8.0

### Selecionando uma célula específica -  loc e iloc

### LOC

sintaxe: df.loc[linha,coluna]

In [31]:
df.loc['Tony']

Faltas     1.0
Prova     10.0
PI         7.5
Name: Tony, dtype: float64

In [32]:
#ou com um array de índices
df.loc[['Tony', 'Michel', 'Andreia']]

         Faltas  Prova   PI
Tony          1     10  7.5
Michel        2      5  9.5
Andreia       3      2  8.5

### Selecionar usando alguma condição

Exemplo: nota da prova >=7

In [33]:
df[df['Prova'] >= 7.0]

         Faltas  Prova   PI
Daniele       4      7  7.5
Tony          1     10  7.5

In [34]:
#mais condições

In [63]:
#outra forma: condição e loc
df.loc[(df['Prova']>=7) & (df['Faltas']<= 3)]

      Faltas  Prova  Projeto Itegrador
Tony       1     10                7.5

In [36]:
df[(df.Prova >= 7) & (df.Faltas <= 3)]

      Faltas  Prova   PI
Tony       1     10  7.5

In [66]:
#usando intervalos para as linhas
df.loc['Andreia':'Michel']

         Faltas  Prova  Projeto Itegrador
Andreia       3      2                8.5
Daniele       4      7                7.5
Michel        2      5                9.5

## ILOC

sintaxe: df.iloc[linha, coluna]

Resumidamente: iloc seleciona linhas e colunas por números

In [67]:
df.iloc[1]

Faltas               4.0
Prova                7.0
Projeto Itegrador    7.5
Name: Daniele, dtype: float64

In [38]:
# Selecionado a primeira linha do dataset
df.iloc[0]

Faltas    3.0
Prova     2.0
PI        8.5
Name: Andreia, dtype: float64

In [68]:
 # Selecionando a última linha
 df.iloc[-1]

Faltas               4.0
Prova                6.0
Projeto Itegrador    8.0
Name: Cezar, dtype: float64

In [69]:
# Colunas:
# Todos os dados da primeira coluna do dataset
df.iloc[:,0]

Andreia    3
Daniele    4
Michel     2
Tony       1
Cezar      4
Name: Faltas, dtype: int64

#### Acessando as duas primeiras linhas do df

In [41]:
df.iloc[[0,1]]#atenção ao colchete

         Faltas  Prova   PI
Andreia       3      2  8.5
Daniele       4      7  7.5

In [42]:
df.iloc[[0,1],1]# agora sim, após a vírgula pedimos a coluna 1

Andreia    2
Daniele    7
Name: Prova, dtype: int64

### Quando usar loc ou iloc?

* loc:  obtém linhas (ou colunas) com rótulos específicos do índice.
* iloc obtém linhas (ou colunas) em posições específicas no índice (portanto, são necessários números inteiros).

A utilização de ambos recursos é útil, porem loc se mostra mais versátil, pois podemos selecionar colunas pela nomenclatura delas o que torna o trabalho mais fácil;

# Exercícios

### Usando o dataframe abaixo faça o que que se pede:

In [98]:
df_exercicio = pd.DataFrame([[3,4,2], [8.5,7.5,7.5], [2,7,10]],
     index=["Andreia", "Daniele", "Michel"],
     columns=['Faltas','PI', 'Prova'])

In [79]:
df_exercicio

         Faltas   PI  Prova
Andreia     3.0  4.0    2.0
Daniele     8.5  7.5    7.5
Michel      2.0  7.0   10.0

### 1. Mostre  a quantidade faltas e a nota do PI  das alunas Andreia e Daniele

In [80]:
df.iloc[[0,1],1]

Andreia    2
Daniele    7
Name: Prova, dtype: int64

### Mostre a linha referente ao(s) alunos(as) aprovados(as). 
Considerar: 
* Prova >= 7,
* PI >= 7 e 
* Faltas <= 2

In [84]:
df_exercicio.loc[(df_exercicio['Prova']>= 7) & (df_exercicio['PI']>= 7) & (df_exercicio['Faltas'] <= 2)]

        Faltas   PI  Prova
Michel     2.0  7.0   10.0

# Para pesquisar

### Crie uma nova coluna com o calculo da média das duas notas: Prova e PI

### FAZER JUNTO!

In [45]:
 #documentação axis{0 or ‘index’, 1 or ‘columns’}, default 0

In [99]:
df_exercicio['Média'] = df_exercicio[['Prova', 'PI']].mean(axis=1)

In [102]:
df_exercicio

         Faltas   PI  Prova  Média
Andreia     3.0  4.0    2.0    3.0
Daniele     8.5  7.5    7.5    7.5
Michel      2.0  7.0   10.0    8.5

### FAZER SOZINHO!

Agora, com a coluna 'Média' crie uma nova coluna chamada 'Resultado Final' informando: 'Aprovado', 'Recuperacao' o 'Reprovado'. Considerar:
* Se Média >=8 'Aprovado' 
* Se Média >=7 'Recuperação'
* Caso contrário: 'Reprovado'

In [94]:
 #DICA: uma das formas para iterar sobre dataframes é o ‘iterrows()’ 
   
for index, x in df_exercicio.iterrows():
    if x['Média'] >= 8:
        df_exercicio.loc[index, 'Restultado Final'] = 'Aprovado'
    elif x['Média'] >= 7:
        df_exercicio.loc[index, 'Restultado Final'] = 'Recuperação'
    else:
        df_exercicio.loc[index, 'Restultado Final'] = 'Reprovado'

In [95]:
df_exercicio

         Faltas   PI  Prova  Média Restultado Final
Andreia     3.0  4.0    2.0    3.0        Reprovado
Daniele     8.5  7.5    7.5    7.5      Recuperação
Michel      2.0  7.0   10.0    8.5         Aprovado

In [112]:
df_exercicio['Resultado Final'] =  np.where( (df_exercicio['Média'] >=8 ) ,'Aprovado',    
                                   np.where( (df_exercicio['Média'] >=7 ) ,'Recuperacao', 'Reprovado'))

df_exercicio

         Faltas   PI  Prova  Média Resultado Final
Andreia     3.0  4.0    2.0    3.0       Reprovado
Daniele     8.5  7.5    7.5    7.5     Recuperacao
Michel      2.0  7.0   10.0    8.5        Aprovado

In [113]:
# COm apply
def status(notas):
    if notas['Média'] >= 8:
        return 'Aprovado'
    elif notas['Média'] >= 7:
        return 'Recuperacao'
    else:
        return 'Reprovado'
    
df_exercicio ['Resultado Final'] = df_exercicio.apply(status, axis=1)
df_exercicio

         Faltas   PI  Prova  Média Resultado Final
Andreia     3.0  4.0    2.0    3.0       Reprovado
Daniele     8.5  7.5    7.5    7.5     Recuperacao
Michel      2.0  7.0   10.0    8.5        Aprovado